@page "/demohotel"
<h3>DemoHotel</h3>

<h3>We will display hotel rooms and amenities here!</h3>
<div class="border p-2 mt-2" style="background-color: azure">
    <h2 class="text-info">Room List</h2>
    <h3>Number of rooms selected @SelectedRoomsCount</h3>
    <div class="row container">
        @foreach (var room in RoomsList)
        {
         <IndividualRoom room="room" OnRoomCheckboxSelection="RoomsSelectedCounterChanged"></IndividualRoom>
        }
    </div>
</div>


@code {

    public int SelectedRoomsCount { get; set; } = 0;
    string SelectedRoomProp = "";
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RoomsList.Add(
            new BlazorRoom()
            {
                Id = 1,
                RoomName = "Village Suite",
                IsActive = true,
                Price = 499,
                RoomProps = new List<BlazorRoomProp>
                {
                new BlazorRoomProp(){ Id=1, Name="Sq ft", Value="100" },
                new BlazorRoomProp(){ Id=2, Name="Occupancy", Value="4" }
                        }
            });
        RoomsList.Add(
            new BlazorRoom()
            {
                Id = 2,
                RoomName = "Executive Suite",
                IsActive = true,
                Price = 899,
                RoomProps = new List<BlazorRoomProp>
                {
                    new BlazorRoomProp(){ Id=1, Name="Sq ft", Value="200" },
                    new BlazorRoomProp(){ Id=2, Name="Occupancy", Value="6" }
                        }
            });

    }

    //pass method to child component
    protected void RoomsSelectedCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRoomsCount++;
        }
        else
        {
            SelectedRoomsCount--;
        }



    }


}
